   .ifcrushtable
    {
        display:  table;
        width:100%;
       /* border-collapse:separate;*/
       	padding: 5px;
    }

    .ifcrushtablerow
    {
       display:table-row;
       width:100%;
       	padding: 5px;
    }

    .ifcrushtablecellnarrow
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:25%;
       	padding:5px;
    }
    .ifcrushtablecellwide
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:40%;
       	padding:5px;
    }
    .ifcrushtablecellauto
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
       	padding:5px;

    }

.frattableheaders {
	font-weight: bold;
	padding: 5px;
	border: 10px solid red;
}

.ifcrushtablerow  {
	width: 100%;
	padding:5px;
}
.ifcrushtableaddrow  {
	width: 100%;
	padding:5px;
	/* put something here to make addrows look different.  I tried background-color without success */
}